[Unit]
Description=Sigma Racer Wingman ota subsystem
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sigmaracer-wingman-ota
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
